header {
  display: flex;
  flex-direction: column;
}

.upperNavDiv {
  display: flex;
  max-width: 100vw;
  background-color: #fff;
  align-items: center;
  padding: 0.5rem 0;
}

.mainMenu {
  width: max-content;
  margin-left: 2rem;
}

.logoDiv {
  width: 100vw;
  height: max-content;
  background-color: hsl(188, 85%, 40%);
  display: flex;
  justify-content: center;
}

.logo {
  width: 100%;
  max-width: 375px;
}

.logoLink {
  text-decoration: none;
  height: 100%;
  margin: 0;
}

.cartIcon {
  color: hsl(188, 85%, 40%);
  font-size: 1.6rem;
  margin-left: auto;
  margin-right: 2rem;
}

.menuIcon {
  color: hsl(188, 85%, 40%);
  font-size: 20px;
  position: relative;
  z-index: 20;
  opacity: 1;
  transition: all 1.5s;
  font-size: 1.8rem;
  margin-right: auto;
}

.menuIcon.close {
  color: #0f3d44;
  font-size: 2.1rem;
  transform: translate(-1.5rem, 0.1rem);
}

.menu {
  width: 100%;
  list-style-type: none;
  background-color: rgba(251, 254, 255, 0.95);
  color: #0f3d44;
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.sideMenu {
  position: absolute;
  transform: translateX(-200vw);
  transition: all 0.5s ease-out;
  font-size: 1.5rem;
  line-height: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 0;
  flex-direction: column;
}

.upperNav {
  justify-content: center;
  width: 100%;
  margin: 0;
  display: none;
}

.topMenuLink {
  margin: 0 1rem;
  cursor: pointer;
}

.topMenuHome {
  margin: 0 auto 0 2rem;
}

.topMenuLast {
  margin: 0 2.5rem 0 1rem;
}

.menuLink {
  text-decoration: none;
  color: hsl(188, 85%, 40%);
}

.menuLink:hover {
  text-decoration: underline;
}

.menu-open {
  transform: translateX(0);
}

.hidden {
  opacity: 0;
}

@media (min-width: 750px) {
  .mainMenu {
    margin-right: auto;
  }

  .logo {
    height: 100%;
  }
}

@media (min-width: 770px) {
  .cartIcon {
    margin-right: 2em;
    font-size: 1.2rem;
  }

  .upperNav {
    display: flex;
  }

  .sideMenu {
    display: none;
  }

  .mainMenu {
    display: none;
  }
}

@media (min-width: 850px) {
  .topMenuLast {
    margin: 0 3rem 0 1rem;
  }
}

@media (min-width: 1024px) {
  .topMenuLink {
    margin: 0 2rem;
  }

  .topMenuHome {
    margin: 0 auto 0 2rem;
  }

  .topMenuLast {
    margin: 0 4rem 0 2rem;
  }
}
